
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item " [ngClass]="{'active' : j == 0 }" *ngFor="let page of pagedList; let j = index;">
            <div class="container">
              <div class="row" *ngFor="let a of fakeArray; let i=index; ">
                <div class="col-md-6" *ngIf="page.categories && page.categories.length > i">
                  <app-line-progress [title]="page.categories[i].title" [value]="page.categories[i].value" [maxValue]="page.categories[i].maxValue"></app-line-progress>
                </div>
                <div class="col-md-6" *ngIf="page.categories && page.categories.length > i+4">
                  <app-line-progress [title]="page.categories[i+4].title" [value]="page.categories[i+4].value" [maxValue]="page.categories[i+4].maxValue"></app-line-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div id="circles" class="col-sm-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <app-circle-progress [title]="yearData.circle1.name"
                                 [value]="yearData.circle1.value"
                                 [maxValue]="yearData.circle1.maxValue"
                                 [color]="'#2F3992'"
                                 [content]="'' + yearData.circle1.value + '/' + yearData.circle1.maxValue"></app-circle-progress>
          </div>
          <div class="col-sm-6" style="display: flex; align-items: center; flex-direction: column;">
            <app-circle-progress [title]="yearData.circle2.name"
                                 [value]="yearData.circle2.value"
                                 [maxValue]="yearData.circle2.maxValue"
                                 [color]="'#79A8AB'"
                                 [content]="'' + yearData.circle2.value + '%'"></app-circle-progress>
          </div>
        </div>
      </div>
    </div>
    <div id="selectYear" class="col-sm-2">
      <app-year-selector (selected)="onSelected($event)"></app-year-selector>
    </div>
  </div>
</div>
