
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <div *ngFor="let cat of yearData.categories" style="margin: 6px,6px,0,6px">
          <h5>{{cat.title}}</h5>
          <div class="progress">
            <!--<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10"></div>-->
            <div class="progress-bar" role="progressbar"
                 [style.background-color]="getRandomColor()"
                 [attr.aria-valuenow]="cat.value"
                 [style.width.%]="cat.value/cat.maxValue*100"
                 [attr.aria-valuemax]="cat.maxValue"
                 aria-valuemin="0"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="circles" class="col-sm-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-6" style="display: flex; align-items: center; flex-direction: column;">
            <h6>Circle 1</h6>
            <round-progress id="circle1"
                            [rounded]="true"
                            [radius]="50"
                            [stroke]="10"
                            [current]="yearData.circle1.value"
                            [max]="100"></round-progress>
          </div>
          <div class="col-sm-6" style="display: flex; align-items: center; flex-direction: column;">
            <h6>Circle 2</h6>
            <round-progress id="circle2"
                            [rounded]="true"
                            [radius]="50"
                            [stroke]="10"
                            [current]="yearData.circle2.value"
                            [max]="100"></round-progress>
          </div>
        </div>
      </div>
    </div>
    <div id="selectYear" class="col-sm-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Year
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let item of values" class="dropdown-item" href="#">{{item.year}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
