<div >
  <div class="container " style="display: flex; align-items: center; flex-direction: column;">
    <div class="row" style="font-size:small; color:gray;" (click)="onSelect(Values[0])">{{Values[0]}}</div>
    <div class="row" style="font-size:small;" (click)="onSelect(Values[1])">{{Values[1]}}</div>
    <div class="row" style="font-size:large; font-weight:bold;" (click)="onSelect(Values[2])">{{Values[2]}}</div>
    <div class="row" style="font-size:small;" (click)="onSelect(Values[3])">{{Values[3]}}</div>
    <div class="row" style="font-size:small; color:gray;"  (click)="onSelect(Values[4])">{{Values[4]}}</div>
  </div>
</div>
